$primaryColor: #424e64;
$secondaryColor: #bbc2ca;
$fontColor: #35373a;
$defaultFont: 'Roboto',
sans-serif;
$lightWeight:300;
$normalWeight: 400;
$boldWeight:700;

$space: 2%;
$spacedbl: (2 * $space);
